.foto-animal {
    margin-bottom: 0.5rem;
    margin-left: 2rem;
    width: 40vw;
    float: right;
}

.paragrafo-animal {
    text-align: justify;
    font-size: 1.4rem;
    line-height: 2.25rem;
    text-indent: 4em;
    line-height: 4rem;
    font-weight: 700;
}

@media (max-width: 1100px) {
    .foto-animal {
        float: none;
        display: block;
        margin: 0 auto 2rem;
        width: 70vw;
    }

    .paragrafo-animal {
        margin-bottom: 2rem;
    }
}

@media (max-width: 744px) {
    .foto-animal {
        width: 100%;
    }

    .paragrafo-animal {
        font-size: 1rem;
        line-height: 1.75rem;
    }
}